html,
body {
  width: 50%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  background-color: #1a759f;
}

h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
  color: #d9ed92;
}

li {
  list-style-type: none;
  color: #d9ed92;
  font-size: 30px;
}

.container {
  width: 500px;
}

#taskName {
  width: 350px;
  height: 50px;
  border: 1px solid black;
  border-radius: 15px;
  outline: none;
  font-size: 25px;
  vertical-align: middle;
}

#submit {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 15px;
  vertical-align: middle;
  font-size: 30px;
}

.to-dos {
  margin-top: 25px;
}
